html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  a {
    background-color: transparent;
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    /* -webkit-appearance: textfield; 1 */
    outline-offset: -2px; /* 2 */
  }
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  details {
    display: block;
  }

  summary {
    display: list-item;
  }
  
  template {
    display: none;
  }

/* -------------- ^ Normalize ^ --------------  */

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.mainContainer div {
  border: 1px solid black;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

#noBorder {
  border-style: hidden;
}

#noRightBorder {
  border-right: 0px;

}

#noLeftBorder {
  border-left: 0px;
}

.similarSegment {
  flex: 1 1 15%;
}

.midSegment {
  flex: 1 1 70%;
}

.similarSegment, .midSegment {
  display: flex;
}

.bottomSegment {
  flex-direction: column;
  align-items: center;
}

.similarFlexSide {
  flex: 1 1 25%;
}

.similarFlexMid {
  flex: 1 1 50%;
}

.startContainer, .finalDisplay {
  width: 50%;
}

.startContainer {
  flex: 1 1 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startRestart {
  border-radius: 4px;
  padding: 3px 5px;
  background-color: rgb(180, 37, 37);
  color: white;
  font-weight: 800;
  border: 1px solid black;
  box-shadow: 1px 1px rgb(0, 0, 0, 0.5);
}

.startRestart:hover {
  filter: brightness(90%)
}

.finalDisplay {
  flex: 1 1 70%;
}

.nameTag, .promptText, .finalDisplay {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.nameTag, .promptText {
  align-items: flex-end;
  padding-bottom: 8px;
}

.nameEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 8px;
}

.playerLabel {
  font-size: 1rem;
  padding: 0 8px 8px;
}

.playerInput {
  text-align: center;
}

.playerInput:invalid {
  border-color: red;
}

.finalDisplay {
  align-items: center;
}

.gridBoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridBoard {
  width: 400px;
  height: 400px;
  display: grid;
  padding: 4px;
  gap: 8px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#boardBorder {
  border-width: 4px;
}

.posButton {
  font-size: 6rem;
  font-weight: 800;
}
